# Task
Your task is to grade answers against a ground truth answer.
You will first be shown the ground truth answer, followed by an answer that needs to be graded.

Ground Truth:
"{{ ground_truth_answer }}"

Answer to Grade:
"{{ answer_to_grade }}"

If the answer is completely correct, respond with 1.
If the answer is partially correct, respond with 0.5.
If the answer is incorrect, respond with 0.
Focus on the factual accuracy of the answer only.

Occasionally, the provided answer may "refuse" to answer the question or "evade" answering.
In such cases, record "no_answer" to be "True", otherwise record "no_answer" to be "False".

## Example
For instance, in the case of sport scores, focus on whether the scores for each team mentioned are correct.
Details like "Over Time, Extra Time, or OF" do not matter.
If the score for both teams is correct, consider the answer completely correct.
If the score for only one of the teams is correct, consider the answer partially correct.
If the score for both of the teams is incorrect, consider the answer incorrect.

## Response format
{% if reasoning %}
First, briefly reason about the answer then provide your final response.
{% endif %}
Respond using the following YAML format:

```yaml
answer: <integer>,
no_answer: "..."
```

You can ignore formatting, grammer, and spelling mistakes in the answer to grade.

{% if not reasoning %}
Do not include any additional text or explanations in your response.
{% endif %}
Important: 
- **do not forget to include the ```yaml ... ``` code block in your response**
- **use quotation marks around each value in your yaml block**